.container-input {
  background-color: #eee;
  border-color: darkgrey;
  border-style: solid;
  border-width: 1px;
  padding: auto;
}

.div-results {
  text-align: right;
}

.top-buffer {
  margin-top: 3px;
}

.bottom-buffer {
  margin-bottom: 3px;
}

.html {
  font-size: 14px;
}

.badge-danger-addon {
  color: white;
}

.dropdown-addon {
  height: 30px;
  width: fit-content;
}

.btn-primary-addon {
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border: 1px solid #124d77;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  margin-right: 5px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px #154682;
}

.btn-primary-addon:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}

.btn-primary-addon:active {
  position: relative;
  top: 1px;
}

.table-wrapper {
  display: inline-block;
  border: none none 1px;
  margin: 0px;
  max-height: 400px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
}

.table-wrapper thead th {
  background-color: white;
  position: static;
  text-align: center;
  top: 0;
  z-index: 1;
}
