.container-input {
  border-style: solid;
  border-width: 1px !important;
  border-color:darkgrey;
  background-color: #eeeeee;
  padding: auto;
}

.div-results {
  text-align: right;
}

.top-buffer {
  margin-top: 3px;
}

.bottom-buffer {
  margin-bottom: 3px;
}

.html {
  font-size: 14px;
}

.badge-danger-addon {
  color: white;
}

.dropdown-addon {
  width: fit-content;
  height: 30px;
}

.btn-primary-addon {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  /* font-family: Arial; */
  font-size: 14px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
  margin-right: 5px;
}

.btn-primary-addon:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}
.btn-primary-addon:active {
  position: relative;
  top: 1px;
}

.table-wrapper {
  max-height: 400px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 10px;
  display:inline-block;
}

.table-wrapper thead th { 
  position: static; 
  top: 0; 
  z-index: 1; 
  background-color: white;
  text-align: center;
}