<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="refresh" content="60" /> <!-- Automatically refresh the webpage every 60 seconds -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous" />

        <link href="../static/stylesheets/cryptopump.css" rel="stylesheet" type="text/css" />

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://go-echarts.github.io/go-echarts-assets/assets/echarts.min.js"></script>

    </head>

    <body class="html">

        <div class="container-fluid">

                     <!-- Plotter and data visualization -->
                     <div class="row">

                        <div class="col" style="border: 1px solid none">
    
                            <p></p>
    
                        <div class="row">

                            <div class="col-2" style="border: 1px solid none">
                                <span class="badge badge-warning" id="divIDSessionThreadID"></span> &nbsp;&nbsp;
                                <span class="badge badge-warning">Threads</span>
                                <span class="label label-default" id="divIDSessionThreadCount"></span>
                            </div>

                            <div class="col-5 text-center" style="border: 1px solid none">
                                <span class="badge badge-warning">Profit</span>
                                $<span class="label label-default" id="divIDSessionProfit"></span> 
                                <span class="label label-default" id="divIDSessionProfitPct"></span>%
                                $<span class="label label-default" id="divIDSessionProfitThreadID"></span> 
                                <span class="label label-default" id="divIDSessionProfitThreadIDPct"></span>% &nbsp;

                                <span class="badge badge-warning">Deployed</span>
                                $<span class="label label-default" id="divIDSessionThreadAmount"></span> &nbsp;
                                <span class="badge badge-warning">Funds</span>
                                <span class="label label-default" id="divIDSessionSymbol"></span>
                                <span class="label label-default" id="divIDSessionSymbolFunds"></span>
                                <span class="label label-default" id="divIDSessionSymbol_fiat"></span>
                                <span class="label label-default" id="divIDSessionSymbol_fiat_funds"></span> &nbsp;
                                <span class="badge badge-warning">Transact./h</span>
                                <span class="label label-default" id="divIDSessionSellTransactionCount"></span>
                            </div>

                            <div class="col-3 text-center" style="border: 1px solid none">
                                <span class="badge badge-secondary badge-info">MACD</span>
                                <span class="label label-default center" id="divIDMACD"></span> &nbsp;
                                <span class="badge badge-info">RSI 14</span>
                                <span class="label label-default" id="divIDRsi14"></span> &nbsp;
                                <span class="badge badge-info">RSI  7</span>
                                <span class="label label-default" id="divIDRsi7"></span> &nbsp;
                                <span class="badge badge-info">RSI  3</span>
                                <span class="label label-default" id="divIDRsi3"></span>
                            </div>

                            <div class="col-1 text-center" style="border: 1px solid none">
                                <span class="badge badge-secondary badge-info">Direction ▲</span>
                                <span class="label label-default" id="divIDDirection"></span>
                            </div>

                            <div class="col-1 text-center" style="border: 1px solid none">
                                <span class="badge badge-secondary badge-info">Price $</span>
                                <span class="label label-default" id="divIDPrice"></span>
                            </div>

                        </div>
    
                        </div>
    
                    </div>
    
                    <div class="row">
                        <div class="col text-center" style="border: 1px solid none" >{{ .HTMLSnippet }}</div>
                        
                        <div class="col-md-auto text-center" style="border: 1px solid none">
                            <p></p>
                            <div class="table-wrapper">
                                <table class="table table-sm" id="excelDataTable"></table>
                            </div>
                        </div>
    
                    </div>
    
                <!-- Config Settings -->
            <form method="POST" action="/">

                <input type="hidden" name="submitselect" value="" id="submitselect" />

                <div class="container-fluid form-group">

                    <br>

                    <div class="row col-md-auto">
                        
                        <div class="col container-input ml-1">
                            
                            <div class="container-fluid">
                                <p class="lead" style="text-align: center;">Buy</p>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buyQuantityFiatUp">Buy Quantity FIAT Upmarket</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="0.01" class="form-control" id="buyQuantityFiatUp"
                                        name="buyQuantityFiatUp" data-toggle="tooltip"
                                        title='Quantity to buy in each Upmarket transaction (decimal)' 
                                        value="{{ .BuyQuantityFiatUp }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buyQuantityFiatDown">Buy Quantity FIAT Downmarket</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="0.01" class="form-control" id="buyQuantityFiatDown"
                                        name="buyQuantityFiatDown" data-toggle="tooltip"
                                        title='Quantity to buy in each Downmarket transaction (decimal)' 
                                        value="{{ .BuyQuantityFiatDown }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buyQuantityFiatInit">Buy Quantity FIAT Initial</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="0.01" class="form-control" id="buyQuantityFiatInit"
                                        name="buyQuantityFiatInit" data-toggle="tooltip"
                                        title='Quantity to buy in initial transaction (decimal)' 
                                        value="{{ .BuyQuantityFiatInit }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="buyDirectionUp">Buy Direction Upmarket</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="1" class="form-control" id="buyDirectionUp"
                                        name="buyDirectionUp" data-toggle="tooltip"
                                        title='Minimum volume direction to buy on upmarket' 
                                        value="{{ .BuyDirectionUp }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="buyDirectionDown">Buy Direction Downmarket</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="1" class="form-control" id="buyDirectionDown"
                                        name="buyDirectionDown" data-toggle="tooltip"
                                        title='Minimum volume direction to buy on downmarket'
                                        value="{{ .BuyDirectionDown }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="buyRsi7Entry">Buy on RSI7</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="1" class="form-control" id="buyRsi7Entry" name="buyRsi7Entry"
                                        data-toggle="tooltip" title='Buy if RSI7 lower than (x)' 
                                        value="{{ .BuyRsi7Entry }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buy24hsHighpriceEntry">Buy 24hs HighPrice Entry</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="0.0001" class="form-control" id="buy24hsHighpriceEntry"
                                        name="buy24hsHighpriceEntry" data-toggle="tooltip"
                                        title='Maximum entrypoint in relation to 24hs highPrice (decimal)' 
                                        value="{{ .Buy24hsHighpriceEntry }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buyRepeatThresholdUp">Buy Repeat Threshold Up</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="0.0001" class="form-control" id="buyRepeatThresholdUp"
                                        name="buyRepeatThresholdUp" data-toggle="tooltip"
                                        title='Minimum percentage threshold before repeat buy on upmarket (decimal)'
                                        min="0.0001" value="{{ .BuyRepeatThresholdUp }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buyRepeatThresholdDown">Buy Repeat Threshold Down</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="0.0001" class="form-control" id="buyRepeatThresholdDown"
                                        name="buyRepeatThresholdDown" data-toggle="tooltip"
                                        title='Minimum percentage threshold before repeat buy on downmarket(decimal)'
                                        maxlength="10" value="{{ .BuyRepeatThresholdDown }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buyRepeatThresholdDownSecond">Buy Repeat Threshold 2nd Down</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="0.0001" class="form-control" id="buyRepeatThresholdDownSecond"
                                        name="buyRepeatThresholdDownSecond" data-toggle="tooltip"
                                        title='Minimum percentage threshold before second repeat buy on downmarket(decimal)'
                                        maxlength="10" value="{{ .BuyRepeatThresholdDownSecond }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buyRepeatThresholdDownSecondStartCount">Buy Repeat Threshold 2nd Down Start Count</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="1" class="form-control"
                                        id="buyRepeatThresholdDownSecondStartCount"
                                        name="buyRepeatThresholdDownSecondStartCount" data-toggle="tooltip"
                                        title='Thread count when to start BuyRepeatThresholdDownSecond pricing '
                                        maxlength="2" value="{{ .BuyRepeatThresholdDownSecondStartCount }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="buyWait">Buy Wait</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="number" step="1" class="form-control" id="buyWait" name="buyWait"
                                        data-toggle="tooltip" title='minimum wait time between buys (seconds)'
                                        value="{{ .BuyWait }}" />
                                </div>
                            </div>

                            <br>

                            <div class="container-fluid">
                                <p class="lead" style="text-align: center;">Sell</p>
                            </div>

                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="profitMin">Minimum Profit</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="number" step="0.0001" class="form-control" id="profitMin" name="profitMin"
                                            data-toggle="tooltip"
                                            title='Minimum average profit percentage before selling (decimal)'
                                            maxlength="10" value="{{ .ProfitMin }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="sellwaitaftercancel">Wait After Cancel</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="number" step="1" class="form-control" id="sellwaitaftercancel"
                                            name="sellwaitaftercancel" data-toggle="tooltip"
                                            title='Do not sell before (x) seconds after cancel' 
                                            value="{{ .SellWaitAfterCancel }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="sellwaitbeforecancel">Wait Before Cancel</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="number" step="1" class="form-control" id="sellwaitbeforecancel"
                                            name="sellwaitbeforecancel" data-toggle="tooltip"
                                            title='Cancel sell  after (x) seconds' 
                                            value="{{ .SellWaitBeforeCancel }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="selltocover">Sell-to-Cover Low Funds</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <select class="custom-select" id="selltocover" name="selltocover" data-toggle="tooltip" title='Sell lowest transaction to cover low funds at "Buy Repeat Threshold Down'>
                                            <option selected>{{ .SellToCover }}</option>
                                            <option value="false">false</option>
                                            <option value="true">true</option>
                                          </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="sellholdonrsi3">Hold Sale on RSI3</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="number" step="1" class="form-control" id="sellholdonrsi3"
                                            name="sellholdonrsi3" data-toggle="tooltip"
                                            title='Hold sale if RSI3 higher than (x)' maxlength="5"
                                            value="{{ .SellHoldOnRSI3 }}" required/>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="stoploss">Stoploss</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="number" step="1" class="form-control" id="stoploss"
                                            name="stoploss" data-toggle="tooltip"
                                            title='Sell order on loss ratio (0 to disable)' maxlength="5"
                                            value="{{ .Stoploss }}" required/>
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col container-input ml-2">

                            <div class="container-fluid">

                                <div class="container-fluid">
                                    <p class="lead" style="text-align: center;">Exchange</p>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="exchangename">Exchange Name</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <select class="custom-select" id="exchangename" name="exchangename" data-toggle="tooltip" title='Name of Exchange in use'>
                                            <option selected>{{ .ExchangeName }}</option>
                                            <option value="Binance">Binance</option>
                                            <option value="Coinbase">Coinbase</option>
                                            <option value="Kraken">Kraken</option>
                                          </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="exchangeComission">Exchange Commission</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="number" class="form-control" id="exchangeComission"
                                            name="exchangeComission" data-toggle="tooltip" title='Time to stop cycles'
                                            maxlength="10" value="{{ .ExchangeComission }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="symbol_fiat">Symbol FIAT</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="symbol_fiat"
                                            name="symbol_fiat" data-toggle="tooltip"
                                            title='Quantity to stash away (decimal)' maxlength="4"
                                            value="{{ .SymbolFiat }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="symbolFiatStash">Symbol FIAT Stash</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="number" step="0.01" class="form-control" id="symbolFiatStash"
                                            name="symbolFiatStash" data-toggle="tooltip"
                                            title='Quantity to stash away (decimal)'
                                            value="{{ .SymbolFiatStash }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="symbol">Symbol</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="symbol" name="symbol"
                                            data-toggle="tooltip" title='symbol' maxlength="8"
                                            value="{{ .Symbol }}" />
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="timeEnforce">Enforce Time</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <select class="custom-select" id="timeEnforce" name="timeEnforce" data-toggle="tooltip" title='Enforce timeStart and timeStop'>
                                            <option selected>{{ .TimeEnforce }}</option>
                                            <option value="false">false</option>
                                            <option value="true">true</option>
                                          </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="timeStart">Start Time</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="timeStart" name="timeStart"
                                            data-toggle="tooltip" title='Time to start cycles' 
                                            value="{{ .TimeStart }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="timeStop">Stop Time</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="timeStop" name="timeStop"
                                            data-toggle="tooltip" title='Time to stop cycles' 
                                            value="{{ .TimeStop }}" />
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="container-fluid">

                                <div class="container-fluid">
                                    <p class="lead" style="text-align: center;">Others</p>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="debug">Debug</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <select class="custom-select" id="debug" name="debug" data-toggle="tooltip" title='Enable debug logging'>
                                            <option selected>{{ .Debug }}</option>
                                            <option value="false">false</option>
                                            <option value="true">true</option>
                                          </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="exit">Exit</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <select class="custom-select" id="exit" name="exit" data-toggle="tooltip" title='Stop buying and Exit when 0 transactions'>
                                            <option selected>{{ .Exit }}</option>
                                            <option value="false">false</option>
                                            <option value="true">true</option>
                                          </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="dryrun">DryRun</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <select class="custom-select" id="dryrun" name="dryrun" data-toggle="tooltip" title='DryRun mode'>
                                            <option selected>{{ .DryRun }}</option>
                                            <option value="false">false</option>
                                            <option value="true">true</option>
                                          </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="newsession">New Session</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <select class="custom-select" id="newsession" name="newsession" data-toggle="tooltip" title='Force New Session'>
                                            <option selected>{{ .NewSession }}</option>
                                            <option value="false">false</option>
                                            <option value="true">true</option>
                                          </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="newsession">TestNet</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <select class="custom-select" id="testnet" name="testnet" data-toggle="tooltip" title='Use TestNet if available in exchange'>
                                            <option selected>{{ .TestNet }}</option>
                                            <option value="false">false</option>
                                            <option value="true">true</option>
                                          </select>
                                    </div>
                                </div>

                            </div>

                            <br>

                            <!-- Load  Config Template -->
                            <div class="container col-lg-6">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="template">Template</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <select class="form-control form-control-sm" style="width: 250px;"
                                            id="configTemplateList" name="configTemplateList"
                                            onchange="document.getElementById('submitselect').value='configTemplate';this.form.submit()">
                                            {{range $key, $value := .ConfigTemplateList}}
                                            <option value="{{ $key }}">{{ $value }}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


                <div class="container-fluid"> 

                    <div class="row">
                        
                        <button type="button" class="btn btn-primary btn-primary-addon" id="new" name="new"
                        onclick="document.getElementById('submitselect').value='new';this.form.submit()" disabled>
                        New
                        </button>

                        <button type="button" class="btn btn-primary btn-primary-addon" id="start" name="start"
                            onclick="document.getElementById('submitselect').value='start';this.form.submit()">
                            Start
                        </button>

                        <button type="button" class="btn btn-primary btn-primary-addon" id="stop" name="stop"
                            onclick="document.getElementById('submitselect').value='stop';this.form.submit()">
                            Stop
                        </button>

                        <button type="button" class="btn btn-primary btn-primary-addon" id="update" name="update"
                            onclick="document.getElementById('submitselect').value='update';this.form.submit()">
                            Update
                        </button>

                        <button type="button" class="btn btn-primary btn-primary-addon" id="buy" name="buy"
                            onclick="document.getElementById('submitselect').value='buy';this.form.submit()" disabled>
                            buy Market
                        </button>

                        <button type="button" class="btn btn-primary btn-primary-addon" id="sell" name="sell"
                            onclick="document.getElementById('submitselect').value='sell';this.form.submit()" disabled>
                            sell Market
                        </button>

                        <div class="col text-right" style="border: 1px solid none">
                            <span class="badge">&#128246</span>
                            <span class="label label-default" id="divIDSessionLatency"></span>
                            <span class="label label-default" id="divIDSessionLatency">ms</span>
                        </div>

                    </div>

                </div>

            </form>

        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>

</html>