<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta http-equiv="refresh" content="60" /> <!-- Automatically refresh the webpage every 60 seconds -->

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
            crossorigin="anonymous" />

        <link href="../static/stylesheets/cryptopump.css" rel="stylesheet" type="text/css" />
    </head>

    <body class="html">

        <div class="container-fluid">

                <!-- Plotter and data visualization -->
                <div class="row">

                    <div class="col" style="border: 1px solid none">

                        <p></p>

                        <div class="row">

                            <div class="col-sm">
                                <span class="badge badge-warning">{{ .ThreadID }}</span> &nbsp;&nbsp;
                                <span class="badge badge-warning">Threads</span>
                                <span class="label label-default">{{ .ThreadCount }}</span>
                            </div>

                            <div class="col-5">
                                <span class="badge badge-warning">Profit</span>
                                <span class="label label-default">$ {{ .Profit }}</span> &nbsp;
                                <span class="badge badge-warning">Deployed</span>
                                <span class="label label-default">$ {{ .ThreadAmount }}</span> &nbsp;
                                <span class="badge badge-warning">Funds</span>
                                <span class="label label-default">{{ .Symbol_fiat }} {{ .FiatFunds }}</span>
                            </div>

                            <div class="col-sm">
                                <span class="badge badge-secondary badge-warning">MACD</span>
                                <span class="label label-default center">{{ .MarketDataMACD }}</span> &nbsp;
                                <span class="badge badge-warning">RSI 14</span>
                                <span class="label label-default">{{ .MarketDataRsi14 }}</span> &nbsp;
                                <span class="badge badge-warning">RSI  7</span>
                                <span class="label label-default">{{ .MarketDataRsi7 }}</span> &nbsp;
                                <span class="badge badge-warning">RSI  3</span>
                                <span class="label label-default">{{ .MarketDataRsi3 }}</span>
                            </div>

                        </div>

                        <div class="col" style="border: 1px solid none">
                            {{ .HtmlSnippet }}
                        </div>

                    </div>

                    <div class="col-md-auto align-items-center" style="border: 1px solid none">
                        <p></p>
                        <span class="badge badge-secondary">Thread Profit</span>
                        <br>
                        <span class="label label-default">$ {{ .ProfitThreadID }}</span>
                        <br><br>
                        <span class="badge badge-secondary">Transactions/h</span>
                        <br>
                        <span class="label label-default">{{ .SellTransactionCount }}</span>
                    </div>
                    
                    <div class="col-md-auto" style="border: 1px solid none">
                        <div class="table-wrapper">
                            <table class="table-sm table-striped">
                                <thead>
                                    <tr>
                                        <th><span class="badge badge-secondary">OrderID</span></th>
                                        <th><span class="badge badge-secondary">Quote</span></th>
                                        <th><span class="badge badge-secondary">Price</span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{ range .Orders }}
                                        <tr>
                                        <td>{{ .OrderID }}</td>
                                        <td>{{ .CummulativeQuoteQuantity }}</td>
                                        <td>{{ .Price }}</td>
                                        </tr>
                                    {{ end }}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            <!-- Config Settings -->
            <form method="POST" action="/">

                <input type="hidden" name="submitselect" value="" id="submitselect" />

                <div class="container-fluid form-group">

                    <br>

                    <div class="row col-md-auto">
                        
                        <div class="col container-input ml-1">
                            
                            <div class="container-fluid">
                                <p class="lead" style="text-align: center;">Buy</p>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buy_quantity_fiat_up">Buy Quantity FIAT Up</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_quantity_fiat_up"
                                        name="buy_quantity_fiat_up" data-toggle="tooltip"
                                        title='Quantity to buy in each Upmarket transaction (decimal)' maxlength="10"
                                        value="{{ .Buy_quantity_fiat_up }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buy_quantity_fiat_down">Buy Quantity FIAT Down</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_quantity_fiat_down"
                                        name="buy_quantity_fiat_down" data-toggle="tooltip"
                                        title='Quantity to buy in each Downmarket transaction (decimal)' maxlength="10"
                                        value="{{ .Buy_quantity_fiat_down }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buy_quantity_fiat_init">Buy Quantity FIAT Init</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_quantity_fiat_init"
                                        name="buy_quantity_fiat_init" data-toggle="tooltip"
                                        title='Quantity to buy in initial transaction (decimal)' maxlength="10"
                                        value="{{ .Buy_quantity_fiat_init }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="buy_direction_up">Buy Direction Up</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_direction_up"
                                        name="buy_direction_up" data-toggle="tooltip"
                                        title='Minimum volume direction to buy on upmarket' maxlength="7"
                                        value="{{ .Buy_direction_up }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="buy_direction_down">Buy Direction Down</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_direction_down"
                                        name="buy_direction_down" data-toggle="tooltip"
                                        title='Minimum volume direction to buy on downmarket' maxlength="7"
                                        value="{{ .Buy_direction_down }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="buy_rsi7_entry">Buy RSI7 Entry</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_rsi7_entry" name="buy_rsi7_entry"
                                        data-toggle="tooltip" title='rsi7 buy entrypoint' maxlength="7"
                                        value="{{ .Buy_rsi7_entry }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="buy_MACD_entry">Buy MACD Entry</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_MACD_entry" name="buy_MACD_entry"
                                        data-toggle="tooltip" title='MACD buy entrypoint' maxlength="7"
                                        value="{{ .Buy_MACD_entry }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buy_24hs_highprice_entry">Buy 24hs HighPrice Entry</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_24hs_highprice_entry"
                                        name="buy_24hs_highprice_entry" data-toggle="tooltip"
                                        title='Maximum entrypoint in relation to 24hs highPrice (decimal)' maxlength="8"
                                        value="{{ .Buy_24hs_highprice_entry }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buy_24hs_highprice_entry_MACD">Buy 24hs HighPrice Entry MACD</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_24hs_highprice_entry_MACD"
                                        name="buy_24hs_highprice_entry_MACD" data-toggle="tooltip"
                                        title='Override maximum 24hs highPrice entrypoint if MACD higher then (x)'
                                        maxlength="7" value="{{ .Buy_24hs_highprice_entry_MACD }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="buy_MACD_upmarket">Buy MACD Upmarket</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_MACD_upmarket"
                                        name="buy_MACD_upmarket" data-toggle="tooltip"
                                        title='MACD buy upmarket minimum entry' maxlength="7"
                                        value="{{ .Buy_MACD_upmarket }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buy_repeat_threshold_up">Buy Repeat Threshold Up</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_repeat_threshold_up"
                                        name="buy_repeat_threshold_up" data-toggle="tooltip"
                                        title='Minimum percentual threshold before repeat buy on upmarket (decimal)'
                                        maxlength="7" value="{{ .Buy_repeat_threshold_up }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buy_repeat_threshold_down">Buy Repeat Threshold Down</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_repeat_threshold_down"
                                        name="buy_repeat_threshold_down" data-toggle="tooltip"
                                        title='Minimum percentual threshold before repeat buy on downmarket(decimal)'
                                        maxlength="7" value="{{ .Buy_repeat_threshold_down }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buy_repeat_threshold_down_second">Buy Repeat Threshold 2nd Down</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_repeat_threshold_down_second"
                                        name="buy_repeat_threshold_down_second" data-toggle="tooltip"
                                        title='Minimum percentage threshold before second repeat buy on downmarket(decimal)'
                                        maxlength="7" value="{{ .Buy_repeat_threshold_down_second }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label"
                                        for="buy_repeat_threshold_down_second_start_count">Buy Repeat Threshold 2nd Down Start Count</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control"
                                        id="buy_repeat_threshold_down_second_start_count"
                                        name="buy_repeat_threshold_down_second_start_count" data-toggle="tooltip"
                                        title='Thread count when to start Buy_repeat_threshold_down_second pricing '
                                        maxlength="7" value="{{ .Buy_repeat_threshold_down_second_start_count }}" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class="col-form-label" for="buy_wait">Buy Wait</label>
                                </div>
                                <div class="col input-group input-group-sm">
                                    <input type="text" class="form-control" id="buy_wait" name="buy_wait"
                                        data-toggle="tooltip" title='minimum wait time between buys (seconds)'
                                        maxlength="3" value="{{ .Buy_wait }}" />
                                </div>
                            </div>

                            <!-- Load  Config Template -->
                            <div class="container col-lg-6">
                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="template">Template</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <select class="form-control form-control-sm" style="width: 250px;"
                                            id="configTemplateList" name="configTemplateList"
                                            onchange="document.getElementById('submitselect').value='configTemplate';this.form.submit()">
                                            {{range $key, $value := .ConfigTemplateList}}
                                            <option value="{{ $key }}">{{ $value }}</option>
                                            {{end}}
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="col container-input ml-2">

                            <div class="container-fluid">
                                <p class="lead" style="text-align: center;">Sell</p>
                            </div>

                            <div class="container-fluid">

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="profit_min">Minimum Profit</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="profit_min" name="profit_min"
                                            data-toggle="tooltip"
                                            title='Minimum average profit percentage before selling (decimal)'
                                            maxlength="7" value="{{ .Profit_min }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="sellwaitaftercancel">Wait After Cancel</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="sellwaitaftercancel"
                                            name="sellwaitaftercancel" data-toggle="tooltip"
                                            title='Do not sell before (x) seconds after cancel' maxlength="2"
                                            value="{{ .SellWaitAfterCancel }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="sellwaitbeforecancel">Wait Before Cancel</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="sellwaitbeforecancel"
                                            name="sellwaitbeforecancel" data-toggle="tooltip"
                                            title='Cancel sell  after (x) seconds' maxlength="2"
                                            value="{{ .SellWaitBeforeCancel }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="selltocover">Sell-to-Cover Low Funds</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="selltocover"
                                            name="selltocover" data-toggle="tooltip"
                                            title='Sell lowest transaction to cover low funds at "Buy Repeat Threshold Down"' maxlength="5"
                                            value="{{ .SellToCover }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="sellholdonrsi3">Hold Sale on RSI3</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="sellholdonrsi3"
                                            name="sellholdonrsi3" data-toggle="tooltip"
                                            title='Hold sale if RSI3 higher than (x)' maxlength="5"
                                            value="{{ .SellHoldOnRSI3 }}" />
                                    </div>
                                </div>

                            </div>

                            <br>

                            <div class="container-fluid">

                                <div class="container-fluid">
                                    <p class="lead" style="text-align: center;">Exchange</p>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="exchangename">Exchange Name</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="exchangename"
                                            name="exchangename" data-toggle="tooltip" title='Name of Exchange in use'
                                            maxlength="20" value="{{ .ExchangeName }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label"
                                            for="exchange_comission">Exchange Commission</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="exchange_comission"
                                            name="exchange_comission" data-toggle="tooltip" title='Time to stop cycles'
                                            maxlength="7" value="{{ .Exchange_comission }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="symbol_fiat">Symbol FIAT</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="symbol_fiat"
                                            name="symbol_fiat" data-toggle="tooltip"
                                            title='Quantity to stash away (decimal)' maxlength="4"
                                            value="{{ .Symbol_fiat }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="symbol_fiat_stash">Symbol FIAT Stash</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="symbol_fiat_stash"
                                            name="symbol_fiat_stash" data-toggle="tooltip"
                                            title='Quantity to stash away (decimal)' maxlength="10"
                                            value="{{ .Symbol_fiat_stash }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="symbol">Symbol</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="symbol" name="symbol"
                                            data-toggle="tooltip" title='symbol' maxlength="25"
                                            value="{{ .Symbol }}" />
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="time_enforce">Enforce Time</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="time_enforce" name="time_enforce"
                                            data-toggle="tooltip" title='Enforce time_start and time_stop' maxlength="7"
                                            value="{{ .Time_enforce }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="time_start">Start Time</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="time_start" name="time_start"
                                            data-toggle="tooltip" title='Time to start cycles' maxlength="7"
                                            value="{{ .Time_start }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="time_stop">Stop Time</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="time_stop" name="time_stop"
                                            data-toggle="tooltip" title='Time to stop cycles' maxlength="7"
                                            value="{{ .Time_stop }}" />
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="container-fluid">

                                <div class="container-fluid">
                                    <p class="lead" style="text-align: center;">Others</p>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="debug">Debug</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="debug" name="debug"
                                            data-toggle="tooltip" title='Enable debug logging' maxlength="5"
                                            value="{{ .Debug }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="exit">Exit</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="exit" name="exit"
                                            data-toggle="tooltip" title='Stop buying and Exit when 0 transactions'
                                            maxlength="5" value="{{ .Exit }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="dryrun">DryRun</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="dryrun" name="dryrun"
                                            data-toggle="tooltip" title='DryRun mode' maxlength="5"
                                            value="{{ .DryRun }}" />
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <label class="col-form-label" for="newsession">New Session</label>
                                    </div>
                                    <div class="col input-group input-group-sm">
                                        <input type="text" class="form-control" id="newsession" name="newsession"
                                            data-toggle="tooltip" title='Force New Session' maxlength="5"
                                            value="{{ .NewSession }}" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary btn-primary-addon" id="start" name="start"
                    onclick="document.getElementById('submitselect').value='start';this.form.submit()">
                    Start
                </button>

                <button type="button" class="btn btn-primary btn-primary-addon" id="stop" name="stop"
                    onclick="document.getElementById('submitselect').value='stop';this.form.submit()">
                    Stop
                </button>

                <button type="button" class="btn btn-primary btn-primary-addon" id="update" name="update"
                    onclick="document.getElementById('submitselect').value='update';this.form.submit()">
                    Update
                </button>

                <button type="button" class="btn btn-primary btn-primary-addon" id="buy" name="buy"
                    onclick="document.getElementById('submitselect').value='buy';this.form.submit()">
                    buy Market
                </button>

                <button type="button" class="btn btn-primary btn-primary-addon" id="sell" name="sell"
                    onclick="document.getElementById('submitselect').value='sell';this.form.submit()">
                    sell Market
                </button>
            </form>
        </div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    </body>

</html>